/* --------------------------------------------- Root / Default elements */
:root {
  --var-container-transition: 1s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
}

/* --------------------------------------------- Header */

header {
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center;
  height: 100px;
  background: linear-gradient(to bottom, black, transparent);
}

nav {
  margin-top: 20px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
nav a {
  user-select: none;
  cursor: pointer;
}

nav p {
  opacity: 0.2;
}

header ul {
  display: flex;
  list-style: none;
}

@keyframes navLIFade {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.animation-navLIFade {
  animation-name: navLIFade;
  animation-duration: 2.5s;
}

header li {
  margin: 0 20px;
  opacity: 0.9;
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.animation-navLinkFade {
  animation-name: navLinkFade;
  animation-duration: 2.5s;
}

header a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.9;
}

header a:hover,
nav li:hover {
  opacity: 1;
}
/* --------------------------------------------- Landing page */

#landing {
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateY(50px);
}

#landing.active {
  opacity: 1;
  transform: translateY(0);
  transition: 1s all ease-in-out;
}

.landing-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-container h3 {
  /* Hi, it's me */
  top: 30px;
  left: 10px;
  position: relative;
  font-size: 30px;
  font-weight: 800;
  cursor: default;
}

.landing-container h1 {
  /* Carlos */
  font-size: 100px;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
  cursor: default;
  transition: 0.1s color ease-in-out;
}

.intro-section p {
  width: 535px;
  font-weight: 200;
  font-size: 20px;
  position: relative;
  top: -15px;
  text-align: justify;
  cursor: default;
}

.intro-section em:nth-child(1):hover {
  color: red;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(2):hover {
  color: blue;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(3):hover {
  color: orange;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(4):hover {
  color: green;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(5):hover {
  color: purple;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(6):hover {
  color: rgb(0, 255, 225);
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(7):hover {
  color: rgb(238, 255, 0);
  transition: 0.1s color ease-in-out;
}
.landing-body {
  opacity: 0.6;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(5px);
  }

  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
.animation-fadedown {
  animation-name: fadeDown;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 20;
}

.scroll-main {
  transform: translateY(0);
  opacity: 0;
  transition: 2s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
}

.scroll {
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 60px;
}

hr {
  border: 0.5px solid red;
  width: 100px;
}

.portrait {
  height: 100%;
}

.portrait img {
  width: 450px;
  transform: translateX(px);
}
.intro-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

/* ---------------------------- Landing page secondary */

#landing-secondary {
  opacity: 0;
  display: flex;
  justify-content: center;
  color: white;
  height: 324px;
  margin-top: 265px;
  margin-bottom: 100px;
  cursor: default;
  transform: translateY(50px);
  transition: var(--var-container-transition);
  padding-left: 40px;
  padding-right: 40px;
}

#landing-secondary.active {
  transform: translateY(-50px);
  transition: 2s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
  opacity: 1;
}

.secondary-inner-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.secondary-intro-section p {
  color: red;
  font-weight: 800;
  text-transform: uppercase;
}

.secondary-intro-section h3 {
  font-size: 39px;
  width: 475px;
  margin-top: 16px;
}

.secondary-intro-body h5 {
  width: 600px;
  font-weight: 200;
  text-align: justify;
  font-size: 19px;
  opacity: 0.7;
  margin-top: 15px;
}

/* ---------------------------- Creative, Webdev and React main properties */

/* Main container (inactive) */
#personal-creatives,
#webdev-projects,
#react-app {
  margin: 0 auto;
  width: 1300px;
  margin-bottom: 200px;
  opacity: 0;
  transition: var(--var-container-transition);
}

.creative-container h1,
.webdev-container h1,
.react-container h1 {
  margin-left: 36px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 97px;
  line-height: 80px;
  color: white;
}

.react-container h1 {
  color: black;
  font-size: 99.5px;
}

#personal-creatives.active,
#webdev-projects.active,
#react-app.active {
  transform: translateY(-50px);
  transition: var(--var-container-transition);
  opacity: 1;
}
/* ---------------------------- Creative Section */

/* Main container (active) */
#personal-creatives a {
  text-decoration: none;
  color: inherit;
}

/* Inner container 
(Included Webdev properties here to conslidate selectors) */
.creative-container,
.webdev-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* First row creatives (1st set of creatives) */
.creatives1 {
  width: 1220px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.creatives1 img,
.creatives1 video {
  width: 550px;
  height: 240px;
  margin: 5px 5px;
  object-fit: cover;
}

.creatives1 video {
  cursor: pointer;
}

.banners {
  display: flex;
}
.banners img {
  width: 800px;
  height: 240px;
  object-fit: cover;
}

/* Second row creatives (2nd set of creatives) */
.creatives2 {
  width: 1220px;
  display: flex;
  overflow-x: scroll;
}
.creatives2 img,
.creatives2 video {
  width: 100px;
  height: 350px;
  margin: 5px 5px;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.creatives2 img:hover,
.creatives2 video:hover {
  width: 300px;
  transition: 0.3s all ease-in-out;
}
.creatives2 video {
  cursor: pointer;
}

/* ---------------------------- Webdev Section */
.webdev-projs a {
  text-decoration: none;
}
.webdev-projs img,
.webdev-projs video {
  cursor: pointer;
  margin: 15px 10px;
  width: 220px;
  height: 220px;
  transition: 0.1s all ease-in-out;
}

.webdev-projs img:hover,
.webdev-projs video:hover {
  transform: scale(1.1);
  transition: 0.1s all ease-in-out;
}

/* ---------------------------- React Portfolio */

/* ---------------------------- Contact Form */

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  height: 651px;
  margin-top: 100px;
}

form h1 {
  font-style: italic;
}

form p {
  font-weight: 400;
  text-transform: uppercase;
}

.form-inner-container {
  margin-top: 30px;
  display: grid;
  grid-template: 38px 38px 110px / 380px 480px;
  column-gap: 20px;
  row-gap: 20px;
}

.subject {
  grid-column: 1/3;
}

.message {
  grid-row: 3/5;
  grid-column: 1/3;
  height: 150px;
}

.form-inner-container button {
  grid-row: 5/6;
  width: 175px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.form-inner-container input,
.form-inner-container textarea {
  border: none;
}

.form-inner-container input::placeholder,
.form-inner-container textarea::placeholder {
  opacity: 0.6;
}

.form-inner-container input[type='text'],
.form-inner-container textarea {
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
}

.form-inner-container textarea {
  padding-top: 10px;
  grid-column: 1/3;
  resize: none;
}

.form-inner-container input[type='text'].message,
.form-inner-container textarea {
  position: relative;
  top: 0;
  background-color: rgb(233, 233, 233);
}

.form-inner-container input[type='email'] {
  padding-left: 20px;
  background-color: rgb(233, 233, 233);
}
