/* --------------------------------------------- Root / Default elements */
/* I use the below variable for all the main container section transitions */
:root {
  --var-container-transition: 1s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
}

/* For the root element, set margin and padding to 0 and use the 'Poppins' font */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Here i establish an initial background color for the body */
body {
  background-color: black;
}

/* --------------------------------------------- Header */

/* This stylizes the header and gives it sticky position, additionally, 
i center everything accordingly, set a specific height and include a
smooth gradient from black to transparent */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  color: white;
  display: flex;
  height: 100px;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

/* For every anchor tag in the header section, add cursor pointer and a very slight
decrease in opacity */
header a {
  cursor: pointer;
  height: 25px;
  opacity: 0.85;
  pointer-events: all;
}

/* Upon hover over each anchor tag, increase the opacity*/
header a:hover {
  opacity: 1;
}
/* Remove the bullet points for from the unordered list */
header ul {
  display: flex;
  list-style: none;
}

/* For each nav link item, lower the opacity slightly and add some margin across the x axis */
header li {
  margin: 0 15px;
  opacity: 0.9;
}

/* The first inner container of header, here, i spread out the 2 containers i use
from edge to edge, one is 'Carlos Sabbah' and the other are the nav link items  */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 1200px;
}

/* The first anchor in the nav section, remove the ability to highlight the text
and make the cursor pointer. */
nav a {
  cursor: pointer;
  user-select: none;
}

/* Lower the opacity for the nav link item dividers i.e. '/' */
nav p {
  opacity: 0.2;
}

/* Upon application load, exeute this animation for the nav link items*/
@keyframes navLIFade {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animation-navLIFade {
  animation-name: navLIFade;
  animation-duration: 2.5s;
}

/* Upon application load, exeute this animation for the anchor tag ('Carlos Sabbah') */
@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animation-navLinkFade {
  animation-name: navLinkFade;
  animation-duration: 2.5s;
}

/* --------------------------------------------- Landing page (First intro) */

/* The inactive state properties to the MAIN parent container */
#landing {
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
}
/* The active state properties */
#landing.active {
  opacity: 1;
  transform: translateY(0);
  transition: 1s all ease-in-out;
}

/* This stylizes the main inner container to the landing parent container */
.landing-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  width: 1200px;
}

/* Stylizes the main header of the website, 'Carlos."*/
.landing-container h1 {
  cursor: default;
  font-size: 100px;
  font-weight: 900;
  transition: 0.1s color ease-in-out;
  transition: 0.2s all ease-in-out;
}

/* Stylizes the secondary title of the hedaer, 'Hi, it's me" */
.landing-container h3 {
  cursor: default;
  font-size: 30px;
  font-weight: 800;
  left: 10px;
  position: relative;
  top: 30px;
}

/* I reduce the opacity for the landing page main element,
this makes it looks more subtle and classy */
.landing-body {
  opacity: 0.6;
}

/* This sylizes the body paragraph text for the landing page section */
.intro-section p {
  cursor: default;
  font-size: 20px;
  font-weight: 200;
  position: relative;
  text-align: justify;
  top: -15px;
  width: 535px;
}

/* For each letter in my name ("Carlos"), give it a unique hover color */
.intro-section em:nth-child(1):hover {
  color: red;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(2):hover {
  color: blue;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(3):hover {
  color: orange;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(4):hover {
  color: green;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(5):hover {
  color: purple;
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(6):hover {
  color: rgb(0, 255, 225);
  transition: 0.1s color ease-in-out;
}

.intro-section em:nth-child(7):hover {
  color: rgb(238, 255, 0);
  transition: 0.1s color ease-in-out;
}

/* Here i create the key frame to simulate a smooth fade in, followed by 
a slight positon change and then fade out */
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(5px);
  }

  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

/* This animation is for the 'Scroll' element, it takes effect after 2 seconds on application
load and it repeats 20 times and or will pause if the user scrlls down.  */
.animation-fadedown {
  animation-name: fadeDown;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 20;
}
/* The main container for the scroll elements (HR and "Scroll text") */
.scroll-main {
  opacity: 0;
  transform: translateY(0);
  transition: 2s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
}

/* This stylizes the 'Scroll' text itself*/
.scroll {
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 60px;
  text-transform: uppercase;
}

/* This stylizes the line 'Scroll' */
hr {
  border: 0.5px solid red;
  width: 100px;
}

/* This is for the portrait image, i push it slightly to the right so there's 
more consitency in the container apperaence */
.portrait img {
  transform: translateX(10px);
  width: 450px;
}

/* The introductory bio */
.intro-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

/* The main container for the 'Github" and "My React App" elements under the bio */
.intro-section span {
  align-items: center;
  display: flex;
  font-size: 17px;
  font-weight: 300;
  position: relative;
  top: 10px;
}

/* This resizes the logos for each link item and inverts them from black to white */
.intro-section span img {
  filter: brightness(0) invert(1);
  width: 30px;
}

/* This stylizes the anchor tags. I remove the original underline and use border-bottom 
instead as it is cleaner and matches the overall style of the website. */
.intro-section a {
  border-bottom: 1px solid white;
  color: white;
  letter-spacing: 1.1px;
  margin-left: 5px;
  opacity: 0.7;
  text-decoration: none;
}

.intro-section a:hover {
  opacity: 1;
}
/* --------------------------------------------- Landing page secondary (2nd intro) */

/* This is the initial (inactive state) properties set for the parent container of the 2nd introductory. */
#landing-secondary {
  color: white;
  cursor: default;
  display: flex;
  height: 324px;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 265px;
  opacity: 0;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateY(50px);
  transition: var(--var-container-transition);
}

/* This is the active state */
#landing-secondary.active {
  opacity: 1;
  transform: translateY(-50px);
  transition: 2s all cubic-bezier(0.44, -0.15, 0.56, 1.07);
}

/* Since there are 2 containers in this one section, i specify a width
and i use space-between to push each container evenly to each edge */
.secondary-inner-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

/* This is the left container header text (i.e. "Frontend Development, Top tier influencer, etc") */
.secondary-intro-section h3 {
  font-size: 39px;
  width: 475px;
  margin-top: 16px;
}

/* This is the right container body text */
.secondary-intro-body p {
  width: 600px;
  font-weight: 200;
  text-align: justify;
  font-size: 19px;
  opacity: 0.7;
  margin-top: 15px;
}

/* --------------------------------------------- Creative, Webdev and React main properties */

/* Main parent container for each section, initial properties (inactive state) */
#personal-creatives,
#webdev-projects,
#react-app {
  margin: 0 auto;
  width: 1300px;
  margin-bottom: 200px;
  opacity: 0;
  transition: var(--var-container-transition);
}

/* Main parent containers (active state) 
Subtle transition across the Y axis along with increase to 100% in opacity */
#personal-creatives.active,
#webdev-projects.active,
#react-app.active {
  transform: translateY(-50px);
  transition: var(--var-container-transition);
  opacity: 1;
}

/* Main header for each section (i.e. "Some of the creative projects i worked on") */
.creative-container h1,
.webdev-container h1,
.react-container h1 {
  color: white;
  font-size: 97px;
  font-weight: 800;
  line-height: 80px;
  margin-bottom: 10px;
  margin-left: 36px;
}

/* --------------------------------------------- Creative Section */

/* Inner container 
(Included Webdev properties here to conslidate selectors) */
.creative-container,
.webdev-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------- First row creatives (1st set of images) */
.creatives1 {
  display: flex;
  overflow-x: scroll;
  width: 1220px;
}

/* I stylize the image and video content pieces and ensure the content fits
(object-fit: cover) accordingly despite the custom ratio i use */
.creatives1 img,
.creatives1 video {
  height: 240px;
  margin: 5px 5px;
  object-fit: cover;
  width: 550px;
}

/* Naturally, i add cursor pointer for the videos */
.creatives1 video {
  cursor: pointer;
}

/* The banner images need to be put in a container as they are
much longer in width so they need to occupy the space accordingly */
.banners {
  display: flex;
}
.banners img {
  height: 240px;
  object-fit: cover;
  width: 800px;
}

/* ------- Second row creatives (2nd set of images) */
.creatives2 {
  display: flex;
  overflow-x: scroll;
  width: 1220px;
}

/* Stylizes the story images/videos, originally the content pieces 
are much smaller in width so i can fit more content in one line */
.creatives2 img,
.creatives2 video {
  filter: saturate(0.65);
  height: 335px;
  margin: 5px 5px;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
  width: 100px;
}

/* Upon hovering over each piece, it extends & reveals the full content */
.creatives2 img:hover,
.creatives2 video:hover {
  width: 200px;
  margin: 5px 5px;
  object-fit: cover;
  filter: saturate(1);
  transition: 0.3s all ease-in-out;
}
/* Naturally, i add cursor pointer for the videos */
.creatives2 video {
  cursor: pointer;
}

/* --------------------------------------------- Webdev Section */
/* I remove the underline for each anchor tag in the Webdev section
as it disrupts the container visually and is not needed */
.webdev-projs a {
  text-decoration: none;
}
/* These stylize the size of the preview images for each website */
.webdev-projs img {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 225px;
  margin: 5px 9px;
  width: 225px;
  /* I add a transition here so when you move away from the preview, it returns to 
  it's initial state 'smoothly' */
  transition: 0.1s all ease-in-out;
}

/* Upon hovering over a preview image, increase the scale by a small factor and 
increase the offset/blur intensity of the shadow */
.webdev-projs img:hover {
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: 0.1s all ease-in-out;
}

/* --------------------------------------------- Contact Form */

/* This stylizes the contact form at the bottom of the page, i ensure everything INSIDE
the main container is centered vertically and horizontally*/
#contact-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

/* Stylizes the header text above the form "Let's talk!"*/
form h1 {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 25px;
}

/* Here i use a grid layout to build out a specific structure 
for each input field.*/
.form-inner-container {
  column-gap: 20px;
  display: grid;
  grid-template: 38px 38px 110px / 275px 480px;
  row-gap: 20px;
}

/* Stretch the subject field across the entire grid column so 
everything fits nicely as well as looks cleaner */
.subject {
  grid-column: 1/3;
}

/* Specifically for the message input, give it a larger height so 
that the user can type more */
.message {
  height: 150px;
}

/* Stylizes the form 'submit' button */
form button {
  background-color: rgba(227, 227, 227, 0.7);
  border: none;
  cursor: pointer;
  height: 50px;
  margin-top: 20px;
  width: 175px;
  border-radius: 5px;
}

/* Upon button hover, make the background color slightly darker */
form button:hover {
  background-color: rgba(210, 210, 210, 0.7);
}

/* Upon button click, make the button slightly smaller and
make the background color darker */
form button:active {
  background-color: rgba(200, 200, 200, 0.7);
  transform: scale(0.98);
}

/* Reduce the opacity of the placeholder of the input and textarea so it
looks cleaner visually */
.form-inner-container input::placeholder,
.form-inner-container textarea::placeholder {
  opacity: 0.7;
}

/* Pushes the text (that the user types in the form fields) to the right,
adds a special backround color and remove the borders */
.form-inner-container input[type='text'],
.form-inner-container textarea,
.form-inner-container input[type='email'] {
  background-color: rgba(227, 227, 227, 0.7);
  border: none;
  padding-left: 20px;
  border-radius: 5px;
}

/* Same idea as above but for the textarea, push the text more down so it looks 
more consistency with the style of the form
Additionally, take up the full column of the form field grid */
.form-inner-container textarea {
  padding-top: 10px;
  grid-column: 1/3;
  resize: none;
  /* Remove the resize option for the textarea so it does not disrupt the form visually */
}

/* ----- Form notification elements */

/* The bottom properties handle the notification for the form
These are the standard styling for each element*/
#notif-success,
#notif-error {
  align-items: center;
  display: none;
  height: 50px;
  justify-content: center;
  margin-top: 20px;
  opacity: 0;
  width: 770px;
  font-size: 15px;
}

/* If all requirement in the script.js are met for sending the email,
show the success notification */
#notif-success.active {
  background-color: rgb(132, 255, 132);
  display: flex;
  opacity: 1;
}

/* If the requirements are not met, show the error notification*/
#notif-error.active {
  background-color: rgb(255, 132, 132);
  display: flex;
  opacity: 1;
}
